.item {
	max-height: 0px;
	background-color: rgba(46, 46, 46, 0);
	border: 2px solid rgb(66, 66, 66);
	border-width: 0 0 0 2px;
	-webkit-padding-start: 20px;
	padding-inline-start: 20px;
	transition: all 2s ease-in;
	width: 240px;
	margin-bottom: 2rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	// Empty State
	&:empty {
		max-height: 0px;
		background-color: rgba(128, 128, 128, 0);
		transition: all 1s ease-in;
	}

	//  Show State
	&.show {
		max-height: 9999px;
		transition: max-height 1s ease-in;
	}
}

details {
	background-color: rgb(240, 240, 240);
	max-width: 300px;
	padding: 1rem 2rem;
	border: 2px solid black;
	transition: all 2s ease-out;
	max-height: 20px;

	summary {
		cursor: pointer;
	}
	ul {
		padding: 0;
		margin: 0;
	}

	&[open] ul {
		margin-top: 1rem;
		background-color: pink;
	}
	&[open] {
		transition: all 2s ease-out;

		max-height: 500px;
	}
}

.accord > * + * {
	margin-top: 1rem;
}

.nav-list {
	list-style: none;
	margin: 0;

	//  Direct Children
	& > * + * {
		margin-top: 0.5rem;
	}

	// link Styles
	a {
		text-decoration: none;
	}

	// nav-item tab
	.nav-item {
		background-color: bisque;
		padding: 1rem 2rem;
		max-width: 400px;
		border-radius: 8px;
		cursor: pointer;
		max-height: 20px;
		overflow-y: hidden;
		transition: max-height 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);

		&:active {
			color: white;
			background-color: hsl(110, 8%, 15%);
			a {
				color: white;
			}
		}

		&:has(.sub-item:empty) .icon {
			display: none;
		}

		&.show {
			max-height: 400px;
			transition: max-height 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		}

		// label
		.label {
			display: flex;
			justify-content: space-between;
		}

		// Sub-item menu
		.sub-item {
			margin-top: 2rem;

			&:empty {
				display: none;
			}
		}
	}
}
